<table id="foobar" class="table table-hover">
    <thead>
      <tr>
        <th><input type="checkbox" [checked]="isAllCheckBoxChecked()" (change)="checkAllCheckBox($event)"></th>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Company</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts; let i = index" id="{{'cr' + i}}">
        <td><input type="checkbox" value="{{contact.Id}}" [(ngModel)]="contacts[i].checked"></td>
        <td>{{ i+1 }}</td>
        <td>{{ contact.Name }}</td>
        <td>{{ contact.Company }}</td>
        <td>{{ contact.Email }}</td>
      </tr>
    </tbody>
  </table>
