
<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <div class="row key-bind-box">
        <div class="col-2 right-border hotkey-letter">Q</div>
        <div class="col-10">
          <div class="row">
            <div class="col">{{keyBinds.q.actionType}}</div>
          </div>
          <div class="row">
            <div class="col">{{keyBinds.q.resourceName}}</div>
          </div>
        </div>
      </div>
    </div>
    ​
    <div class="col-2">
      <div class="row key-bind-box">
        <div class="col-2 right-border hotkey-letter">W</div>
        <div class="col-10">
          <div class="row">
            <div class="col">{{keyBinds.w.actionType}}</div>
          </div>
          <div class="row">
            <div class="col">{{keyBinds.w.resourceName}}</div>
          </div>
        </div>
      </div>
    </div>
    ​
    <div class="col-2">
      <div class="row key-bind-box">
        <div class="col-2 right-border hotkey-letter">E</div>
        <div class="col-10">
          <div class="row">
            <div class="col">{{keyBinds.e.actionType}}</div>
          </div>
          <div class="row">
            <div class="col">{{keyBinds.e.resourceName}}</div>
          </div>
        </div>
      </div>
    </div>
    ​
    <div class="col-2">
      <div class="row key-bind-box">
        <div class="col-2 right-border hotkey-letter">R</div>
        <div class="col-10">
          <div class="row">
            <div class="col">{{keyBinds.r.actionType}}</div>
          </div>
          <div class="row">
            <div class="col">{{keyBinds.r.resourceName}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table id="foobar" class="table table-hover">
        <thead class="thead-style">
          <tr>
            <th><input type="checkbox" [checked]="isAllCheckBoxChecked()" (change)="checkAllCheckBox($event)"></th>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Company</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Do Not Email</th>
          </tr>
        </thead>
        <tbody *ngFor="let contact of contacts; let i = index">
          <tr id="{{'cr' + i}}">
            <td><input type="checkbox" value="{{contact.Id}}" [(ngModel)]="contacts[i].checked"></td>
            <td>{{ i+1 }}</td>
            <td>{{ contact.Name }}</td>
            <td>{{ contact.Company }}</td>
            <td>{{ contact.Email }}</td>
            <td>{{ contact.Phone }}</td>
            <td>{{ contact.DoNotEmail ? 'True':'False'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Bulk Action</h4>
    <button type="button" class="btn-close" aria-div="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <ol>
      <li (click)="toggleSetting()">Toggle Email Subscription</li>
      <li>Add to Task</li>
      <li>Email/Call</li>
    </ol>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>
