.nav-container {
  background-color: #efb74f !important;

  .navbar {
    background-color: #efb74f !important;
  }

  .nav-link {
    color: black;
  }
}

.content-container {
  background-color: #e2e2e2 !important;
}

