.nav-container {
  background-color: #e2e2e2 !important;
  border-bottom: 1px solid black;

  .navbar {
    background-color: #e2e2e2 !important;
  }

  .nav-link {
    color: black;
  }
}

.content-container {
  background-color: #e2e2e2 !important;
}


