<div class="legend modal fade right show" tabindex="-1" role="dialog" style="display: block;">
  <div class="modal-dialog modal-side modal-bottom-right">
    <div class="modal-content">
      <div class="modal-header bg-light center-text">
        <h4 class="modal-title">Keybindings Legend</h4>
      </div>
      <div class="modal-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th></th>
              <th>Command</th>
              <th>Keybinding</th>
            </tr>
          </thead>
          <tbody>
            <!-- Navigation Keybinds -->
            <tr class="table-secondary">
              <th scope="row">Navigation</th>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>Contacts</td>
              <td>1</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>Salesflows</td>
              <td>2</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>Support</td>
              <td>3</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>Options</td>
              <td>4</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>Login</td>
              <td>5</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>Power Mode</td>
              <td>CTRL+P</td>
            </tr>

            <!-- Data Control Keybinds -->
            <tr class="table-secondary">
              <th scope="row">Data Control</th>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>Highlight Next Contact</td>
              <td><i class="bi bi-arrow-down"></i></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>Highlight Previous Contact</td>
              <td><i class="bi bi-arrow-up"></i></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>Select/Deselect Highlighted Contact</td>
              <td>Spacebar</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>Select All Visible Contacts</td>
              <td>CTRL+A</td>
              <td></td>
            </tr>

            <!-- Custom Keybinds -->
            <tr class="table-secondary">
              <th scope="row">Custom Keybindings</th>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>Q</td>
              <td>{{ keyMap.q.actionType + " " + keyMap.q.resourceName }}</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>W</td>
              <td>{{ keyMap.w.actionType + " " + keyMap.w.resourceName }}</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>E</td>
              <td>{{ keyMap.e.actionType + " " + keyMap.e.resourceName }}</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>R</td>
              <td>{{ keyMap.r.actionType + " " + keyMap.r.resourceName }}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
