<div class="row container-fluid">
  <div class="col-md-9">
    <div class="row container-fluid">
      <div class="container-fluid">
        <h5>Power Mode Contacts</h5>
      </div>
      <div class="col-md-4 contact-list">
        <table class="table table-hover">
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Company</th>
            </tr>
          </thead>
          <tbody *ngFor="let contact of contacts; let i = index">
            <tr id="{{'cr' + i}}">
              <td>{{ i+1 }}</td>
              <td>{{ contact.Name }}</td>
              <td>{{ contact.Company }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-8"> Contact Details
        <div class="container">
          <div class="main-body">
            <div class="col-md-10">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ selectedContact.Name }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Company</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ selectedContact.Company }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ selectedContact.Email }}
                    </div>
                  </div>
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">Power Mode
<section class="mb-4 float-center">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/power-mode">Email</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/power-mode">Phone</a>
    </li>
  </ul>
  <h5 class="h1-responsive font-weight-bold text-center my-2"></h5>
  <div class="row">
    <div class="col-md-9 mb-md-0 mb-5">
      <form id="contact-form" name="contact-form" action="mail.php" method="POST">
        <div class="row">
          <div class="col-md-12 email-text">
            <div class="md-form mb-0">
              <input type="text" id="subject" name="subject" class="form-control">
              <label for="subject" class="">Subject</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="md-form">
              <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
              <label for="message">Your message</label>
            </div>
          </div>
        </div>
      </form>
      <hr>

        <div>
            <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send Email</a>
        </div>
      <div class="status"></div>
    </div>
  </div>

</section>

