
.padding-5 {
  padding: 5px;
}

.table-head {
  font-weight: bold;
  padding: 10px 5px;
  font-size: 16px;
}

.highlight {
  background-color: #c2c3cc;
}

.key-bind-box {
  margin: 5px;
  border: 2px solid black;
  min-height: 52px;
}

.right-border {
  border-right: 1px solid black;
}

.hotkey-letter {
  font-weight: bold;
  font-size: 20px;
}
